[submodule "STEAMHACKS-2023---Round-1"]
	path = STEAMHACKS-2023---Round-1
	url = https://github.com/NguyenHoangNhat-git/STEAMHACKS-2023---Round-1.git
[submodule "STEAMHACKs-2023---Final-round"]
	path = STEAMHACKs-2023---Final-round
	url = https://github.com/NguyenHoangNhat-git/STEAMHACKs-2023---Final-round.git
